body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	opacity: 0; /*on remet l'opacité à 1 au chargement de la page en JQuery */
}

#left, #middle, #right {
	float : left;
}

/********************* DATA **********************/
#data {
	background-color: yellow;
}

/********************* CHART *********************/
#fits {
	background-color: blue;
}

/********************* LOGS **********************/
#logs {
	background-color: purple;
}

/********************* GAME **********************/
#game {
	background-color: red;
}

/********************* PERCEPTRON ****************/
#perc {
	background-color: green;
}

/********************* STATUS ********************/
#stat {
	background-color: orange;
}

/********************* OTHERS ********************/

#checkbox {
	position: absolute;
	right: 0;
	top: 0;
}