body {
	padding: 0; 
	margin: 0; 
	text-align: center; 
	background: rgb(247, 247, 247);
}

#left {
	float: left;
	background-color: yellow;
}

#right {
	float: right;
	background-color: green;
}