body {
	padding: 0;
	margin: 0;
	background: rgb(247, 247, 247);
}

#center {
	width: 600px;
	height: 150px;
}

#left {
	float: left;
	background-color: yellow;
}

#right {
	float: right;
	background-color: green;
}